/* navigaiton */

#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0 7px;
    padding-bottom: 8px;

}

/* home */
#home{
    height: 285px;
    /* width: 310px; */
   padding: 3px 68px;

}
#home h1{
    font-size: 28px;

}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
/* services */
#services{
 flex-direction: column;

}
/* #services .box{ */


/* } */
/* client section */

#clients{
   flex-wrap: wrap;
}
#clients img{

width: auto;
padding: auto;
margin: 0px;
}

/* conteact */


/* footer */


/* utilaity class */
#h-primary{
    /* background-color: rebeccapurple; */
    font-size: 28px;
    /* padding-top: 10px; */
/* margin-top: 2/00px; */
}
.btn{
    /* margin-top: 60px; */

    font-size: 14px;
    padding: 4px 8px;
}